.custom-navbar {
  background-color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link {
  color: #000 !important;
  transition: color 0.3s ease-in-out;
}

.custom-navbar .navbar-brand:hover,
.custom-navbar .nav-link:hover {
  color: #00323c !important;
}

.custom-navbar:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* Styly pro přepínač jazyka */
.language-switch {
  margin-left: 0.5rem;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  border: 2px solid #000;
  background-color: transparent;
  color: #000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.language-switch:hover,
.language-switch:focus {
  background-color: #000;
  color: #fff;
}

.language-switch.active {
  background-color: #005f73;
  color: #fff;
  border: none;
}
